<template name="comments">
    <div class="comments clearfix">
        <div class="wrap">
            <div class="tab">
                <div class="box visible">
                    <h4>People talking about <a href="#">#WalkandRide</a></h4>
                    <p>Join our #WalkandRide adventure. Meet up in London this Saturday! Spread the word and join us for fun.</p>
                </div>
                <div class="box">
                    <h4>Users loving <a href="#">#WalkandRide</a></h4>
                    <p>Joining this weekend's #WalkandRide fun! @emmy_lemmy bring your dogs, we can make it a fun walk!</p>
                </div>
                <div class="box">
                    <h4>Folks enjoying <a href="#">#WalkandRide</a></h4>
                    <p>Nothing to fear, the new #WalkandRide has my tiny street covered, so cool and such a powerful app.</p>
                </div>
                <ul class="tabs">
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <a href="#" class="tab-prev"></a>
                <a href="#" class="tab-next"></a>
            </div>
        </div>
        <!-- /.wrap -->
    </div>
    <!-- /.comments clearfix -->
</template>