<template name="discover">
    <div class="discover clearfix">
        <div class="wrap">
            <div class="discover-content clearfix">
                <h2>Discover</h2>
                <p>Human rights momentum. World problem solving turmoil, change movements environmental pursue these aspirations initiative donation. Policy dialogue, underprivileged accessibility, asylum visionary, prevention beneficiaries carbon emissions reductions empower.</p>
                <div class="discover-button clearfix">
                    <a href="#" class="button button-download">
                        <span class="button-download-title">Download for</span>
                        <span class="button-download-subtitle">Apple iOS</span>
                    </a>
                    <a href="#" class="button button-download android">
                        <span class="button-download-title">Download for</span>
                        <span class="button-download-subtitle">Android</span>
                    </a>
                </div>
            </div>
            <div class="discover-img">
                <div class="discover-img-inside"><img src="/upload/discover.png" height="486" width="634" alt=""></div>
            </div>
        </div>
        <!-- /.wrap -->
    </div>
    <!-- /.discover clearfix -->
</template>