<template name="promo">
    <div class="promo clearfix">
        <div class="wrap">
            <div class="promo-wrapper clearfix">
                <div class="promo-column">
                    <img src="/upload/pin.png" height="32" width="24" alt="">
                    <h5>Places</h5>
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal sources.</p>
                </div>
                <div class="promo-column">
                    <img src="/upload/settings.png" height="32" width="33" alt="">
                    <h5>Settings</h5>
                    <p>Collaboratively administrate turnkey channels whereas virtual e-tailers an other media. </p>
                </div>
                <div class="promo-column">
                    <img src="/upload/easy.png" height="32" width="34" alt="">
                    <h5>Easy</h5>
                    <p>Interactively procrastinate high-payoff content without backward-compatible data. </p>
                </div>
                <div class="promo-column">
                    <img src="/upload/saturn.png" height="32" width="32" alt="">
                    <h5>Global</h5>
                    <p>Credibly innovate granular internal or "organic" sources whereas high standards in web-readiness. </p>
                </div>
            </div>
        </div>
        <!-- /.wrap -->
    </div>
    <!-- /.promo clearfix -->
</template>