<template name="video">
    <div class="video clearfix">
        <div class="wrap">
            <div class="video-title">Explore. Walk &amp; Ride in action</div>
            <div class="video-subtitle">Just try it for yourself</div>
            <div class="video-block">
                <iframe src="//player.vimeo.com/video/106575373?portrait=0" width="814" height="458" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <div class="video-share-wrapper clearfix">
                <ul class="social-list clearfix">
                    <li class="video-share-title">Share it with your friends:</li>
                    <li><a href="#" class="social-twitter">via <strong>Twitter</strong></a></li>
                    <li><a href="#" class="social-facebook">via <strong>Facebook</strong></a></li>
                    <li><a href="#" class="social-google">via <strong>Google+</strong></a></li>
                </ul>
            </div>
        </div>
        <!-- /.wrap -->
    </div>
    <!-- /.videos clearfix -->
</template>